p {
  color: rgb(4, 4, 0);
}

body {
    background-color: #000032ee !important;
}


h1 {
  font-size: 2em;
}
/* Poista oletusmarginaali, niin kuva istuu koko näytölle */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background-container {
  /* koko ruutu */
  min-height: 100vh;
  width: 100%;
  /* taustakuva ja asetukset */
  background-image: url('Images/pelaajakuva.JPG.jpeg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  
  /* jos haluat tumman overlayn kuvan päälle (helpottaa tekstin lukemista) */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* esim. tumma läpinäkyvä kerros */
  background-color: rgba(255, 255, 255, 0.4); /* tumma sävy */
  background-blend-mode: darken;
}

.content-box {
  background: rgba(255, 255, 255, 0.855); /* valkoinen box + hieman läpinäkyvä */
  padding: 2rem;
  width: 100%;          /* leveys suhteessa vanhempaan */
  max-width: none;     /* leveys boxille */
  margin: 1rem;          /* pieni marginaali */
  border-radius: 8px;    /* pyöristetyt kulmat (valinnainen) */
  box-shadow: 0 4px 10px rgba(0, 31, 79, 0.996); /* varjo, jotta tulee esiin */
  
  text-align: center; /* teksti keskelle / vois valita myös vasempaan */
}
.carousel-item img {
  width: 50%;    /* kuvan leveys suhteessa vanhempaan elementtiin */
  height: auto;  /* korkeus skaalautuu automaattisesti */
}

.nav-bar {
  display: flex;
  justify-content: space-between; /* logo vasemmalle, linkit oikealle */
  align-items: center;
  padding: 10px 20px;
  background-color: #FEDD00; /* taustaväri */
  color: white;
  position: sticky; /* pysyy ylhäällä scrollatessa */
  top: 0;
  z-index: 1000;
}
.nav-links {
  display: flex;
  justify-content: center; /* keskittää napit */
  flex: 1; /* ottaa kaiken keskialueen tilan */
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-bar .logo img {
  height: 50px; /* logo korkeus */
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ED8B00;
}
.carousel img {
  width: 120%;
  height: 500px; /* tai haluamasi korkeus */
  object-fit: cover;
}

